<section class="background-color">
    <div id="aboutme">
        <div class="placed">
            <div class="pictures">
                <img class="front" src="./../../assets/img/personal.png">
                <img class="behind" src="./../../assets/img/personal_background.png">
            </div>
            <div class="about-me-text">
                <h3>{{ languageService.currentHeader.abouta }}</h3>
                <div class="about-me-container">
                    <h4>{{ languageService.currentHeader.aboutb }}</h4>
                    <span>{{ languageService.currentHeader.aboutc }}</span>
                    <div>
                        <div class="icon-pos">
                            <img class="icon" src="./../../assets/img/location_on.png">
                        </div>
                        <span class="hover-text">{{ languageService.currentHeader.aboutd }}</span>
                    </div>
                    <div>
                        <div class="icon-pos">
                            <img class="icon" src="./../../assets/img/cognition.png">
                        </div>
                        <span class="hover-text">{{ languageService.currentHeader.aboute }}</span>
                    </div>
                    <div>
                        <div class="icon-pos">
                            <img class="icon" src="./../../assets/img/new_releases.png">
                        </div>
                        <span class="hover-text">{{ languageService.currentHeader.aboutf }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>