@use '../../../scss_global/global.style' as *;

section {
    @include display(flex, space-around, center, row);
    @include position(absolute, null, 98px, 100%);
    color: $c-fg;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13.56%, rgba(0, 0, 0, 0.6) 84.01%);

    >div.contentmax {
        @include display(flex, space-around, center, row);
        width: 100%;
        max-width: 1920px;

        >div.menu {
            @include display(flex, start, center, row);
            @include position(null, 99, null, 668px);
            gap: 24px;

            nav {
                @include display(flex, start, center, row);
                width: 100%;
                gap: 28px;

                >a {
                    @include display(flex, center, center, column);
                    font-family: var(--ff-fira);
                    font-size: 20px;

                    color: $c-fg;
                    text-decoration: none;
                    margin-top: 6px;
                    white-space: nowrap;

                    >img {
                        visibility: hidden;
                    }
                }

                >a:hover {
                    cursor: pointer;
                    color: $c-accent;
                }

                >a:hover img {
                    background: url('../../../../assets/img/point_green.png') no-repeat center/contain;
                    visibility: visible;
                }
            }
        }

        >div.second {
            @include display(flex, end, center, row);
            @include position(null, 100, null, 568px);
        }
    }
}

.background {
    @include display(flex, center, center, row);
    @include position(null, 1, 29px, 76px);
    border: 1px solid $c-accent;
    border-radius: 22px;

    &:hover {
        border-color: #fff;
    }
}

.btn {
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    font-family: var(--ff-fira);
    font-size: 16px;
}

input[type="radio"].toggle {
    display: none;

    &+label {
        cursor: pointer;
        color: rgba($c-accent, 0.5);

        &:hover {
            background: none;
            color: $c-accent;
        }

        &:after {
            @include position(absolute, -1, 28px);
            background: $c-accent;
            border-radius: 18px;
            content: "";
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            top: 4px;
            height: 32px;
            width: 40px;
        }
    }

    &.toggle-left+label {
        border-right: 0;

        &:after {
            left: 100%
        }
    }

    &.toggle-right+label {
        &:after {
            left: -100%
        }
    }

    &:checked+label {
        cursor: default;
        color: #fff;
        transition: color 200ms;

        &:after {
            left: 0;
        }
    }
}

.toggle_button {
    @include display(none, space-between, null, column);
    @include position(absolute, 9999, 23px, 30px);
    top: 40px;
    right: 25px;

    &:hover {
        cursor: pointer;

        .bar {
            background-color: $c-accent
        }
    }
}

nav {
    display: flex;
}

.checkbox {
    display: none;
}

.bar {
    height: 2px;
    width: 100%;
    background-color: #d9d9d9;
    border-radius: 100px;
}

/* Responsive */
@include respond(1400px) {
    section>div.contentmax {
        justify-content: center;

        >div.menu,
        >div.second {
            width: 40%;
        }
    }
}

@include respond(1000px) {
    #toggle_button:checked~.menu nav {
        display: flex;
    }

    #toggle_button:checked~.menu {
        display: flex;
    }

    section {
        justify-content: start;

        >div.contentmax {
            @include display(flex, center, center, column);
            >div.menu {
                @include display(none, center, center, row);
                @include position(fixed, 9999999999, 100%, 100%);
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba(6, 21, 19, 0.76);
            }

            >div.menu nav {
                display: none;
                height: min-content;
                width: 300px;

                @include display(flex, center, center, column);
                position: fixed;
                top: 100px;
                right: 8px;
                padding: 24px 0;
                background: linear-gradient(55.22deg, $c-bg 36.26%, #08463B 93.28%);
                border-radius: 30px;
                border: 1px solid $c-accent;
            }

            >div.second {
                justify-content: start;
                position: absolute;
                left: 25px;
            }
        }
    }

    .toggle_button {
        display: flex;
    }
}

html.no-scroll {
    overflow-y: hidden;
}

@include respond(500px) {
    section>div.contentmax>div.second {
        left: -45px;
    }
}

@include respond(450px) {
    section>div.contentmax>div.second {
        left: -35px;
    }
}

@include respond(400px) {
    section>div.contentmax>div.second {
        left: -30px;
    }
}

@include respond(350px) {
    section>div.contentmax>div.second {
        left: -20px;
    }
}